<!doctype html>
<html lang="en">

<head>
  <title>Professor Andre Batista</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css"> <!-- live server -->
  <link rel="icon" type="image/png" href="./assets/favicon/favicon.ico">
  <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="./assets/favicon/apple-touch-icon.png">
</head>

<body>
  <div class="my-0 p-5 bg-primary text-white rounded">
    <div class="container clearfix">
      
      <h1 class="text-white">André Luiz França Batista, Ph.D.</h1>
      <img class="image-fluid float-left pr-5" width="20%" src="../public/assets/images/logo.jpg" alt="profileImage">
      <h3 class="text-white">Professor<br>Computer Science<br>Instituto Federal do Triângulo Mineiro</h3>
    </div>
  </div>

  <div class="wrapper d-flex align-items-stretch">
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">
      <!-- Content -->
      <div class="container">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-1"></div>
          <div class="col-7">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <ul class="nav navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#biography" data-toggle="tab">Biography</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#publications" data-toggle="tab">Publications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#newsandmedia" data-toggle="tab">News & Media</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#awards" data-toggle="tab">Awards</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <div class="col-4 border">
            <h4 class="mb-2">Education</h4>
            <ul>
              <li>
                Ph.D. Scientific and Technology Education, Federal University of Santa Catarina, 2017.
              </li>
              <li>
                M.Sc. Systems Engineering, Federal University of Lavras, 2009.
              </li>
              <li>
                B.S. of Computer Science, Federal University of Lavras, 2007.
              </li>
            </ul>
            <h4 class="mb-2">Areas of expertise</h4>
            <ul>
              <li>Computer Science Education</li>
              <li>Emerging Educational Technologies</li>
              <li>Games based learning</li>
              <li>Serious Games</li>
              <li>Artificial Intelligence</li>
            </ul>
            <h4 class="mb-2">Contact</h4>
              <ul>
                <li>Email: andreluiz (at) iftm . edu . br</li>
                <li><a href="https://www.linkedin.com/in/dr-andre-luiz-franca-batista/" target="_blank">Linkedin</a> </li>
                <li>Phone: +55 (34) 99658-6068</li>
              </ul>
          </div>
          <div class="col-1"></div>
          <div class="tab-content col-7 border">
            <div class="tab-pane fade show active" id="biography">
              <h4 class="mb-4">Professional Biography</h4>
              <p>Brief introduction.</p>
            </div>

            <div class="tab-pane fade" id="publications">
              <h4 class="mb-4">Publications</h4>
              <p>Selected publications.</p>
            </div>

            <div class="tab-pane fade" id="newsandmedia">
              <h4 class="mb-4">News & Media</h4>
              <ul>
                <li>News #1</li>
                <li>News #2</li>
                <li>News #3</li>
              </ul>
            </div>

            <div class="tab-pane fade" id="awards">
              <h4 class="mb-4">Awards</h4>
              <ul>
                <li>Award #1</li>
                <li>Award #2</li>
                <li>Award #3</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="./assets/js/jquery.min.js"></script>
  <script src="./assets/js/popper.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/main.js"></script>
  <!-- for live server -->
  <script src="../public/assets/js/jquery.min.js"></script>
  <script src="../public/assets/js/popper.js"></script>
  <script src="../public/assets/js/bootstrap.min.js"></script>
  <script src="../public/assets/js/main.js"></script>

</body>

</html>